.Button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
}

.Button.function {
  color: black;
  background: red;
}

.Button.operator {
  color: black;
  background: orangered;
}

.Button.number {
  background: blue;
}
